.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8);
  grid-template-rows: calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8) calc(800px/8);
  background-color: rgb(87, 58, 4);
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grabbing {
  cursor: grabbing;
}

.grid-item.black {
  background-color: rgb(87, 58, 4);
}

.grid-item.white {
  background-color: burlywood;
}

.board-container {
  align-items: center;
  justify-content: center;
}

.pieces {
  font-size: 70px;
  cursor: grab;
  display: block;
}

.pieces.grabbed {
  text-shadow: 0px 0px 8px rgb(141, 241, 241);
}

.pieces.captured {
  font-size: 50px;
  margin-top: 10px;
}

.grid-container.black-player {
  transform: rotate(180deg)
}

.pieces.black-player {
  transform: rotate(180deg) translateY(25px);
}

.game-area {
  display: flex;
}

.capture-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
  height: 800px;
  padding: 10px;
}

.capture-area.black-player {
  transform: rotate(180deg);
}

.capture-container {
  border: 10px solid rgb(87, 58, 4);
  border-radius: 5px;
  height: 150px;
  width: 400px;
  padding: 10px 10px 10px 10px;
  background-color: burlywood;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto;
}

.capture-container.black-player {
  transform: rotate(180deg);
}